.call-us-button
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    z-index: 10;
    border: none;
    outline: none;
    cursor: pointer

.call-us-form
    display: none;
    position: absolute;
    z-index: 12;
    width: 40%;
    left: 30%;
    background: rgba(255,255,255, 0.8);
    padding: 2rem;
    & input
        background: rgba(51, 72, 230, .5);
        border: none;
        padding: 1rem;
        outline: none;
        color: #2f2f2f
        z-index: 1
    & label 
        position: absolute;
        top: 50%;
        line-height: 0;
        left: 1rem;
        transition: .5s all ease
        color: rgba(0, 0, 0, 0.7);
        &.focus
            top: -1rem
    &__field
        margin: 3rem 0;
        display: flex;
        flex-direction: column;
        color: #fff;
        position: relative;
    &:before
        position: absolute
        background: rgba(0,0,0, .5)
        height: 100vh
        width: 100%
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 11

.call-us
    &__head
        font-size: 1.6rem;
        line-height: 1;
        text-align: center;
        color: #2f2f2f;
        position: relative
        & .close
            width: 25px
            height: 25px
            right: -1rem;
            top: -3rem;
            position: absolute;
            &:before
                content: ''
                display: block
                transform: rotate(-45deg)
                height: 2rem
                width: 2px
                position: absolute
                background: #000
                left 50%
                top: 0
            &:after
                content: ''
                display: block
                transform: rotate(45deg)
                height:2rem
                width: 2px
                position: absolute
                background: #000
                left 50%
                top: 0

.darked
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 14;
    background: rgba(0,0,0, .7)