.contacts-hero
    background: url('../images/hero-contact-us.jpg')
    background-repeat: no-repeat
    background-size: cover;
    background-position: 50%;
    @media screen and (max-width: 767px)
        height: auto
    &:after
        background: rgba(0,0,0, .6)
    & .hero-container
        @media screen and (max-width: 767px)
            flex-direction: column
        & .page-about
            //margin: 1rem auto
            width: 90%
            @media screen and (max-width: 767px)
                margin: 3rem auto
    & .hero-container .page-title
        line-height: 1
        text-align: start !important
        flex: 3
        color: #fff
        @media screen and (max-width: 767px)
            height: auto;
            top: 5rem;
            margin: 7rem auto;
            width: 90%;
    & .page-title:after
        height: 60vh !important
        @media screen and (max-width: 767px)
            display: none !important