.contacts-hero
    background: url('../images/hero-contact-us.jpg')
    background-repeat: no-repeat
    background-size: cover;
    background-position: 50%;
    &:after
        background: rgba(0,0,0, .6)
    & .hero-container .page-title
        line-height: 1
        text-align: start !important
        flex: 3
        color: #fff
    & .page-title:after
        height: 60vh !important