.page__footer
    background: #323232;
.footer
    max-width: 960px
    color: #bdbdbd;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
    &-menu
        flex: 1;
        border-right: solid 1px #dbdbdb;
        margin: 1rem;
        & ul
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: start;
            font-size: 1.8rem;
            font-weight: 100;
            & li a
                color: #fff;
        &__unit
            padding: 1rem
    &-information
        flex: 3;
        margin-right: 2rem;
        &__description
            text-align: center;
            margin: 5rem 0 0 0;
        &__contacts
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: start;
            &_social
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                flex: 2
                & h3
                    margin-bottom: 4rem;
                    @media screen and (max-width 767px)
                        margin-bottom: 0
            &_info
                flex: 3
        &__adress,
        &__phones,
        &__email
            display: flex
            flex-direction: row
            justify-content: space-between
        &__phones-block
            display: flex
            flex-direction: column    
    &__social-links
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        & a
            padding: 1.6rem 1.8rem;
            text-align: center;
            vertical-align: middle;
            margin: 1rem 1rem 0 0;
            font-size: 1.8rem;
            color: #fff
            &.facebook-link
                background: #4A6FA8
            &.twitter-link
                background: #41A1F2
            &.vk-link
                background: #5378A5
            &.email-link
                background: #5D4545
            & i
                height: 2rem
                width: 2rem