.header
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    background: linear-gradient(-180deg, #FFFFFF 0%, rgba(255,255,255,0.60) 58%, rgba(255,255,255,0.00) 100%);
    height: 8vh;
    z-index: 9;
    transition: .5s linear
    @media screen and (max-width: 767px)
        display: none
    &:hover
        background: #fff
    &-menu
        margin: .5rem auto
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 0;
        max-width: 1366px;
        font-size: 1.6rem
        color: #444444
        &__unit
            padding: 1.5rem 2rem;
    &-mobile
        display: none
        @media screen and (max-width: 767px)
            display: block;
            height: 10vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: #fff;
            z-index: 2;
        & .header-menu
            display: none
            &__unit.mobile-catalog
                list-style: none
                padding: 0.5rem 0 1rem 0;
                & .header-submenu__unit
                    padding: 1.5rem 2rem
                    display: none
                    transition: all 5s linear
                    &:nth-child(1)
                        padding: 2rem 0rem 1rem 0rem;
        & .header-menu_active
            display: block !important
            text-align: center;
            background: rgba(255,255,255, .9);
        &:before
            content: 'heartstone.by'
            display: block
            position: absolute
            left: 2rem
            top: 3rem;
            font-size: 3rem;
        & .hamburger
            position: relative;
            top: .5rem;
            left: 90%;
            outline: none;