section.design-3d-hero.hero-sections
    .hero-container
        h1.page-title 3D-дизайн
        .page-about 
            .page-about__text С помощью данной услуги и высококлассного оборудования мы можем придать камню практически любую форму. По этой причине мы сможем учесть все требования и желания наших клиентов в соответствии с их финансовыми возможностями.