section.afford
    .container
        h1.afford__header Мы предлагаем
        .afford__menu
            ul.afford-categories.afford__categories
                li.afford-categories__unit.active Памятники
                li.afford-categories__unit Ограды
                li.afford-categories__unit Комплексы
                li.afford-categories__unit Лампады
                li.afford-categories__unit Бронзовые изделия
            .afford-subcategories.afford__subcategories.monument
                ul
                    li 
                        a Эксклюзивные
                    li 
                        a Одиночные
                    li 
                        a Цветные
                    li 
                        a Гранит
                    li 
                        a Двойные
                img(src="../images/afford-1.png", alt="")
            .afford-subcategories.afford__subcategories.fence
                ul
                img(src="#", alt="")
            .afford-subcategories.afford__subcategories.complex
                ul
                img(src="#", alt="")
            .afford-subcategories.afford__subcategories.lamps
                ul
                img(src="#", alt="")
            .afford-subcategories.afford__subcategories.bronze
                ul
                img(src="#", alt="")