button.button.call-us-button#call-us(type="button") Заказать звонок
form.call-us-form#call-us-form(action="")
    .call-us__head
        h1.call-us__header Напишите нам и мы Вам перезвоним
        .close#close
    .call-us-form__field
        input.call-us__name(type="text" name="name")
        label(for="name") Введите имя
    .call-us-form__field
        input.call-us__e-mail(type="email" name="email")
        label(for="email") Введите e-mail
    .call-us-form__field
        input.call-us__phone(type="tel" name="phone")
        label(for="phone") Введите номер телефона
    .call-us-form__field
        button.cal-us-form__submit.button Оформить заявку