section.catalog-hero.hero-sections
    .hero-container
        h1.page-title Каталог
        .page-about
            .page-about__text Огромный и разнообразный выбор товаров удовлетворит любого покупателя. В зависимости от материала, страны происхождения и многообразия форм и размеров, мы предоставляем возможность подобрать оптимальный вариант для любого клиента. Представляем Вашему вниманию наиболее востребованные формы стелл из гранита и мрамора, наличие на складе которых постоянно поддерживается. Также мы можем изготовить любую форму по Вашим фотографиям, чертежам и эскизам.
            .page-about__filter
                span.filter-unit.filter-unit_active Памятники
                span.filter-unit Лампады
                span.filter-unit Бронза
                span.filter-unit Надгробия