.promotions__unit
    .promotion__image
        img(src="../images/promo-3.png", alt="")
    .promotion__info
        .promotion__name Памятник "Боствана"
        .promotion__material Материал: черный, серый и красный гранит
        .promotion__from Происхождение: Карелия
        .promotion__size Размеры: 180х120х150
    .promotion__price 1250руб.
    .promotion__more 
        span.read-more Подробнее