section.catalog-hero
    .hero-container
        h1.page-title Каталог
        .page-about
            .page-about__text Огромный и разнообразный выбор товаров удовлетворит любого покупателя. В зависимости от материала, страны происхождения и многообразия форм и размеров, мы предоставляем возможность подобрать оптимальный вариант для любого клиента.
            .page-about__filter
                span.filter-unit.filter-unit_active Памятники
                span.filter-unit Лампады
                span.filter-unit Бронза
                span.filter-unit Надгробия