section.promotions
    .container
        .promotions__list
            .promotions__unit
                .promotion__image
                    img(src="../images/promo-1.png", alt="")
                .promotion__info
                    .promotion__name Памятник "Одиссей"
                    .promotion__material Материал: черный и красный гранит
                    .promotion__from Происхождение: Китай
                    .promotion__size Размеры: 180х120х150
                .promotion__price 1250руб.
                .promotion__more 
                    span Подробнее
            .promotions__unit
                .promotion__image
                    img(src="../images/promo-2.png", alt="")
                .promotion__info
                    .promotion__name Комплекс "Black&White"
                    .promotion__material Материал: черный и белый мрамор
                    .promotion__from Происхождение: Египет
                    .promotion__size Размеры: 180х120х150
                .promotion__price 1250руб.
                .promotion__more 
                    span Подробнее
            .promotions__unit
                .promotion__image
                    img(src="../images/promo-3.png", alt="")
                .promotion__info
                    .promotion__name Памятник "Боствана"
                    .promotion__material Материал: черный, серый и красный гранит
                    .promotion__from Происхождение: Карелия
                    .promotion__size Размеры: 180х120х150
                .promotion__price 1250руб.
                .promotion__more 
                    span Подробнее