section.contacts-hero.hero-sections
    .hero-container
        .page-title Наши контакты
            .card__text
                    p Адрес магазина:
                    p 
                        i.fas.fa-map-marked-alt
                        |    г.Гродно, ул. Белуша, д. 4, пав. 9
                    p Контактные телефоны:
                    p
                        i.fas.fa-phone
                        | +375 (33) 618-32-03, +375 (33) 623-20-76
                    p Адрес магазина:
                    p 
                        i.fas.fa-map-marked-alt
                        |    г. Гродно, ул. Поповича, 4 (общежитие торгового колледжа)
                    p Контактный телефон:
                    p
                        i.fas.fa-phone
                        | +375 (29) 803-14-26
                    p Адрес производства:
                    p 
                        i.fas.fa-map-marked-alt   
                        |    г.Гродно, ул. Аульская, д. 33, (напротив "Тайфуна")
                    p Контактный телефон:
                    p 
                        i.fas.fa-phone
                        |    +375 (152) 68-83-49
                    p E-mail:
                    p 
                        i.fas.fa-mail-bulk
                        |    realvotiva@mail.ru

        .page-about
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa4c6ba0a2b8fb54c74f4ae243ce259cdf78838c245d3cac331ec8f841900adca&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>