section.promotions
    .container
        h1.reviews__header Отзывы наших клиентов
        .reviews__section
            .reviews__block
                .review__unit
                    .review__author
                        .review__author_ico
                            i.fas.fa-user-circle
                        .review__author_name Константин
                    .review__text Доброго времени суток. Заказывал в этой фирме памятник родственнику, с установкой. Простенький памятник из гранита с обкладкой прилежащей площадки плиткой. Сделали все качественно и довольно быстро - модель была в наличии. Фотографию изобразили один в один с оригиналом. Спасибо за качественную и быструю работу.
                .review__unit
                    .review__author
                        .review__author_ico
                            i.fas.fa-user-circle
                        .review__author_name Александра
                    .review__text Хочу сказать огромное спасибо Вам за профессионализм и деликатность в решении спорных вопросов и советы. Благодаря вам сумели избежать множества косяков по установке. Клиентоориентированность и деловой подход на высоте. На мой взгляд, эти ребята - тот редкий случай, когда получаешь оптимальный компромисс между ценой, качеством и скоростью. Спасибо еще раз!
            .reviews__block
                .review__unit
                    .review__author
                        .review__author_ico
                            i.fas.fa-user-circle
                        .review__author_name Мария
                    .review__text Заказывали у ребят комплекс на две могилы с установкой, аксессуарами и фурнитурой. Вышло недешево, но за эти деньги мы получили просто шикарный памятник - материал, цвет, в целом внешний вид нас более чем устроил. По установке вопросов тоже пока не возникло, поживем - увидим. Спасибо.
                .review__unit
                    .review__author
                        .review__author_ico
                            i.fas.fa-user-circle
                        .review__author_name Руслан
                    .review__text Все были вежливы, подсказали что и как лучше сделать, удалось найти компромисс по цене. По моим средствам вышло скромно, но со вкусом. За скоростью не гнался, но по моему мнению сроки слишком затянуты не были. По качеству пока претензий тоже нет.
            .reviews__block
                .review__unit
                    .review__author
                        .review__author_ico
                            i.fas.fa-user-circle
                        .review__author_name Михаил
                    .review__text Очень хотел найти плитку из гранита в частный дом, гуглил, искал у множества фирм, нашел эту компанию почти случайно - думал, что кроме памятников такие фирмы ничего не делают. Теперь нарадоваться не могу - в доме лежит плитка из китайского гранита, выглядит как я и ожидал. Удовольствие недешевое, конечно, но стоит того.
                .review__unit
                    .review__author
                        .review__author_ico
                            i.fas.fa-user-circle
                        .review__author_name Антон
                    .review__text Хотел родитеям поставить красивый памятник, пришел в эту фирму со своим рисунком, обсудили с Евгением все тонкости изготовления, создали модель и вместе составили техзадание для мастеров. Результатом остался очень доволен, форма получилась как раз то, что я хотел. Огромное спасибо за помощь, терпение и вашу работу, все получилось отлично. 
            .reviews__block
                .review__unit
                    .review__author
                        .review__author_ico
                            i.fas.fa-user-circle
                        .review__author_name Татьяна
                    .review__text Спасибо большое ребятам за гибкость и терпение! Заказывали с мужем столешницу и подоконники из камня, сделали быстро и красиво, установить пришлось самостоятельно - да и несложно было.
                .review__unit
                    .review__author
                        .review__author_ico
                            i.fas.fa-user-circle
                        .review__author_name Эдуард
                    .review__text Видна компетентность сотрудников, в товаре ориентируются хорошо, по ценам тоже быстро могут соориентировать, а вариаций форм и аксессуаров очень много. Была небольшая заминка с установкой, как сказали - из-за очереди, но этот вопрос решился хоть и небольшой, но приятной скидочкой. Мелочь, а приятно. В конце концов работа была сделана хорошо от приема заказа до установки памятника.

        //- h1.promotions__header Лучшие предложения на сегодня
        //- .promotions__list
        //-     .promotions__unit
        //-         .promotion__image
        //-             img(src="../images/promo-1.png", alt="")
        //-         .promotion__info
        //-             .promotion__name Памятник "Одиссей"
        //-             .promotion__material Материал: черный и красный гранит
        //-             .promotion__from Происхождение: Китай
        //-             .promotion__size Размеры: 180х120х150
        //-         .promotion__price 1250руб.
        //-         .promotion__more 
        //-             span.read-more Подробнее
        //-     .promotions__unit
        //-         .promotion__image
        //-             img(src="../images/promo-2.png", alt="")
        //-         .promotion__info
        //-             .promotion__name Комплекс "Black&White"
        //-             .promotion__material Материал: черный и белый мрамор
        //-             .promotion__from Происхождение: Египет
        //-             .promotion__size Размеры: 180х120х150
        //-         .promotion__price 1250руб.
        //-         .promotion__more 
        //-             span.read-more Подробнее
        //-     .promotions__unit
        //-         .promotion__image
        //-             img(src="../images/promo-3.png", alt="")
        //-         .promotion__info
        //-             .promotion__name Памятник "Боствана"
        //-             .promotion__material Материал: черный, серый и красный гранит
        //-             .promotion__from Происхождение: Карелия
        //-             .promotion__size Размеры: 180х120х150
        //-         .promotion__price 1250руб.
        //-         .promotion__more 
        //-             span.read-more Подробнее