footer.footer
    //- .footer-menu
    //-     ul
    //-         li.footer-menu__unit
    //-             a Памятники
    //-         li.footer-menu__unit
    //-             a Буквы
    //-         li.footer-menu__unit
    //-             a Комплексы
    //-         li.footer-menu__unit
    //-             a Ограды
    //-         li.footer-menu__unit
    //-             a Кресты
    //-         li.footer-menu__unit
    //-             a Лампады
    //-         li.footer-menu__unit
    //-             a Вазы
    //-         li.footer-menu__unit
    //-             a О нас
    //-         li.footer-menu__unit
    //-             a Обратная связь
    .footer-information
        .footer-information__contacts
            .footer-information__contacts_social
                h3 Мы в социальных сетях
                .footer__social-links
                    a.facebook-link
                        i.fab.fa-facebook-f
                    a.twitter-link
                        i.fab.fa-twitter
                    a.vk-link
                        i.fab.fa-vk
                    a.email-link
                        i.fas.fa-envelope
            .footer-information__contacts_info
                .footer-information__adress
                    h3 Адрес
                    p ул. Аульская, стр. 8
                .footer-information__phones
                    h3 Телефоны
                    .footer-information__phones-block
                        p +375 (29) 123-45-67
                        p +375 (29) 123-45-67
                        p +375 (29) 123-45-67
                .footer-information__email
                    h3 Электронная почта
                    p realvotiva@gmail.com

        .footer-information__description Данный интернет-сайт носит информационный характер и ни при каких условиях не является публичной офертой, которая определяется положением Статьи 407 Гражданского кодекса РБ.