section.gallery-hero.hero-sections
    .hero-container
        h1.page-title Галерея
        .page-about
            .page-about__text За многие годы работы нами было выполнено множество заказов, которые вполне могут стать шаблонами в каччестве готовых решений. На данной странице представлены наиболее оптимальные, по нашему мнению, решения для оформления и комбинации материалов и цветов.
            .page-about__filter
                span.filter-unit.filter-unit_active Памятники
                span.filter-unit Лампады
                span.filter-unit Бронза
                span.filter-unit Надгробия