section.gallery
    .container
        h1.gallery__header Галерея наших работ и изделий
        .slider
            .slide-track
                .slide
                    img(src="../images/carousel-image-1.png" alt="")
                .slide
                    img(src="../images/carousel-image-2.png" alt="")
                .slide
                    img(src="../images/carousel-image-3.png" alt="")
                .slide
                    img(src="../images/carousel-image-4.jpg" alt="")
                .slide
                    img(src="../images/carousel-image-1.png" alt="")
                .slide
                    img(src="../images/carousel-image-2.png" alt="")
                .slide
                    img(src="../images/carousel-image-3.png" alt="")
                .slide
                    img(src="../images/carousel-image-4.jpg" alt="")
        .gallery__button
            a.button.gallery-button Смотреть все изображения
                