header.header
    ul.header-menu
        li.header-menu__unit
            a Главная
        li.header-menu__unit
            a Каталог
        li.header-menu__unit
            a О нас
        li.header-menu__unit
            a Галерея
        li.header-menu__unit
            a 3D-дизайн
        li.header-menu__unit
            a Контакты
        li.header-menu__unit
            a Услуги
