header.header
    ul.header-menu
        li.header-menu__unit
            a(href="index.html") Главная
        //- li.header-menu__unit.catalog
        //-     a(href="catalog.html") Каталог
        li.header-menu__unit
            a(href="about-us.html") О нас
        li.header-menu__unit
            a(href="gallery.html") Галерея
        li.header-menu__unit
            a(href="3d-design.html") 3D-дизайн
        li.header-menu__unit
            a(href="contacts.html") Контакты
        li.header-menu__unit
            a(href="services.html") Услуги

header.header-mobile
    button.hamburger.hamburger--slider(type="button")
        span.hamburger-box
            span.hamburger-inner
    ul.header-menu
        li.header-menu__unit
            a(href="index.html") Главная
        //- li.header-menu__unit 
        //-     a(href="catalog.html") Каталог
        li.header-menu__unit
            a(href="about-us.html") О нас
        li.header-menu__unit
            a(href="gallery.html") Галерея
        li.header-menu__unit
            a(href="3d-design.html") 3D-дизайн
        li.header-menu__unit
            a(href="contacts.html") Контакты
        li.header-menu__unit
            a(href="services.html") Услуги