section.main-advantages
    .container
        h1.main-advantages__header Наши преимущества
        .main-advantages__list
            .main-advantages__unit.main-advantages-unit
                .main-advantages-unit__icon
                    img(src="../images/like.png", alt="")
                h1.main-advantages-unit__header Качественно
                .main-advantages-unit__description Предоставляем исключительно качественные материалы иностранного производства
            .main-advantages__unit.main-advantages-unit
                .main-advantages-unit__icon
                    img(src="../images/speed.png", alt="")
                h1.main-advantages-unit__header Быстро
                .main-advantages-unit__description Благодаря наработанному алгоритму и оперативному изготовлению продукции
            .main-advantages__unit.main-advantages-unit
                .main-advantages-unit__icon
                    img(src="../images/economy.png", alt="")
                h1.main-advantages-unit__header Экономно
                .main-advantages-unit__description Разные ценовые категории позволяют удовлетворить выбор любого покупателя