section.main-hero
    .main-hero-desc Изделия из натурального камня, вазы надгробные, лампады и др.
    .main-hero-logo
        img.main-hero-logo__image(src="../images/logo.svg", alt="logo must be here")
    .main-hero-contacts
        p.main-hero-contacts__adress ул. Аульская 33 (напротив ЗАО “Тайфун”)
        p.main-hero-contacts__phones +375 (33) 618-32-03, +375 (152) 68-83-49, +375 (29) 642-08-48
        p.main-hero-contacts__email realvotiva@mail.ru