section.categories-preview
    .container.categories-preview-container
        .categories-preview-unit.categories-preview__unit
            .categories-preview-unit__image
                img(src="../images/secondsection1.png", alt="")
            .categories-preview-unit__info
                h2.categories-preview-unit__header Памятники
                .categories-preview-unit__describe Наша компания предлагает широкий выбор памятников, а также целых комплексов на любой вкус
        .categories-preview-unit.categories-preview__unit_reverse
            .categories-preview-unit__image
                img(src="../images/secondsection2.png", alt="")
            .categories-preview-unit__info
                h2.categories-preview-unit__header Аксессуары
                .categories-preview-unit__describe Множество лампад, крестов, статуй и прочих акссесуаров из различных материалов (гранит разных цветов, бронза и т.д.)
        .categories-preview-unit.categories-preview__unit
            .categories-preview-unit__image
                img(src="../images/secondsection3.png", alt="")
            .categories-preview-unit__info
                h2.categories-preview-unit__header Надгробия
                .categories-preview-unit__describe Качественные и красивые надгробия из гранита, мрамора с несколькими ярусами и комбинорованием плит разных цветов.