section.main-hero
    .main-hero-desc 
        h1 Heartstone.by
        | Изделия из натурального камня, вазы надгробные, лампады и др.
    .main-hero-logo
        img.main-hero-logo__image(src="../images/logo.svg", alt="heartstone.by")
    .main-hero-contacts
        p.main-hero-contacts__adress Адрес магазина: г. Гродно, ул. Белуша, д. 4, пав. 9
        p.main-hero-contacts__adress Адрес склада: г. Гродно, ул. Аульская, д. 33 (напротив ЗАО “Тайфун”)
        p.main-hero-contacts__phones Контактные телефоны: +375 (33) 618-32-03, 
            br/
            | +375 (33) 623-20-76, 
            br/
            | +375 (152) 68-83-49
        p.main-hero-contacts__email realvotiva@mail.ru