.sell-unit
    .close
    .sell-unit__image
        img(src="../images/carousel-image-1.png", alt="")
    .sell-unit__price.promotion__price 1299 руб.
    h1.sell-unit__header Комплекс "Боствана"
    .sell-unit__info
        .sell-unit__info_col
            .sell-unit__material.promotion__material Материал: черный и красный гранит
            .sell-unit__from.promotion__from Происхождение: Китай
            .sell-unit__size.promotion__size Размеры: 180х120х150
        .sell-unit__info_col
            p.sell-unit__describe Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, adipisci hic! Hic animi expedita quisquam ducimus ratione ipsam nihil vero! Placeat alias eius adipisci nisi corrupti? Necessitatibus dolores quaerat distinctio?