section.about-us-hero.hero-sections
    .hero-container
        h1.page-title Услуги и товары
        .page-about
            .page-about__text Предлагаем Вашему вниманию качественные товары из материалов со всего мира. Благодаря сотрудничеству и налаженным связям с поставщиками матерала из России, Китая, Индии и других стран, славящихся уникальностью и качеством камня, наш ассортимент сможет удивить самого требовательного покупателя. В качестве аксессуаров и средств для оформления памятников, оград, мемориалов и комплексов мы используем изделия элитного бренда из Италии - RealVotiva. Более того, мы являемся их официальным представителем, единственным в Беларуси, соответственно, Вы получаете возможность получить практически уникальные для наших широт вещи из высококачественной бронзы, произведенные по итальянской технологии.
