extends /includes/layout

include /mixins/image
include /mixins/icon

block content
    include sections/3d-design-hero
    section.design-3d__section1
        //.container
        .card
            .card__image
                img(src="../images/3d-1.jpg", alt="")
            .card__information
                .card__header Набросок
                .card__text Первым и очень важным шагов в данном процессе является создание наброска или эскиза. Немаловажное значение данный этап имеет по ряду причин:
                    br
                    br 
                    | – даже схематичная визуализация позволит Вам взглянуть на свои желания касательно внешнего вида более объективно;
                    br
                    br 
                    | – по проработанному эскизу для наших специалистов будет сформировано техническое задание, для которого необходим ряд параметров будущего изделия: размеры ширины, высоты, толщины, наличие изгибов и фигурной резки, выделение посадочных мест для фурнитуры и т.д.;
                    br
                    br 
                    | – наши специалисты в процессе разработки наброска и общения с Вами смогут дать советы и рассказать о тонкостях процесса изготовления, которые могут повлиять на качество и внешний вид готового изделия.
    section.design-3d__section2
        //.container
        .card.reverse
            .card__image
                img(src="../images/3d-2.jpg", alt="")
            .card__information
                .card__header 3D-моделирование
                .card__text При создании 3D-модели, дизайнер может еще раз уточнить все размеры и расположение необходимых элементов памятника. И уже в комплексе сформировать образ достаточно точно для дополнительного обсуждения всех деталей. На этом этапе, как правило, решаются все моменты, касающиеся компановки и расположения всех элементов комплекса.
    section.design-3d__section3
        //.container
        .card
            .card__image
                img(src="../images/about-us-3.jpg", alt="")
            .card__information
                .card__header Текстурирование
                .card__text Последний штрих виртуальной визуализации – наложение текстур камня на проработанный проект. Благодаря этому этапу Вы сможете оценить выбранный вариант цвета или сочетания цветов и совершенно точно определиться с выбранными материалами и фурнитурой.