extends /includes/layout

include /mixins/image
include /mixins/icon

block content
    include sections/about-us-hero
    section.about-us__realvotiva
        .container
            .card
                .card__image
                    img(src="../images/about-us-1.jpeg", alt="")
                .card__information
                    .card__header Фурнитура RealVotiva
                    .card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    section.about-us__models
        .container
            .card.reverse
                .card__image
                    img(src="../images/about-us-2.jpg", alt="")
                .card__information
                    .card__header 3D-моделирование
                    .card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    section.about-us__materials
        .container
            .card
                .card__image
                    img(src="../images/about-us-3.jpg", alt="")
                .card__information
                    .card__header Используемые материалы
                    .card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    section.about-us__accesories
        .container
            .card.reverse
                .card__image
                    img(src="../images/carousel-image-1.png", alt="")
                .card__information
                    .card__header Разнообразные акссессуары
                    .card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    section.about-us__map
        .container
            .card
                .card__image
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6ff966ede6227ab374e9482679b5b7065a8dc09b4ad68cd2b7546b75fee43a33&amp;width=100%25&amp;height=380&amp;lang=ru_RU&amp;scroll=true"></script>
                .card__information
                    .card__header Наши контакты
                    .card__text
                    p Адрес:
                    p 
                        i.fas.fa-map-marked-alt   
                        |    Аульская, 33, (напротив "Тайфуна")
                    p Телефоны:
                    p 
                        i.fas.fa-phone
                        |    +375 (33) 618-32-03, +375 (152) 68-83-49,<br> +375 (29) 642-08-48
                    p E-mail:
                    p 
                        i.fas.fa-mail-bulk
                        |    realvotiva@mail.ru