extends /includes/layout

include /mixins/image
include /mixins/icon

block content
    include sections/catalog-hero
    section.promotions
        .container
            .promotions__list
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit
                include sections/catalog-unit