extends /includes/layout

include /mixins/image
include /mixins/icon

block content
    include sections/contacts-hero
    //- section.about-us__map
    //-     .card
    //-         .card__image
    //-             <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6ff966ede6227ab374e9482679b5b7065a8dc09b4ad68cd2b7546b75fee43a33&amp;width=100%25&amp;height=380&amp;lang=ru_RU&amp;scroll=true"></script>
    //-         .card__information
    //-             .card__header Наши контакты
    //-             .card__text
    //-                 p Адрес:
    //-                 p 
    //-                     i.fas.fa-map-marked-alt   
    //-                     |    Аульская, 33, (напротив "Тайфуна")
    //-                 p Телефоны:
    //-                 p 
    //-                     i.fas.fa-phone
    //-                     |    +375 (33) 618-32-03, +375 (152) 68-83-49,<br> +375 (29) 642-08-48
    //-                 p E-mail:
    //-                 p 
    //-                     i.fas.fa-mail-bulk
    //-                     |    realvotiva@mail.ru