extends /includes/layout

include /mixins/image
include /mixins/icon

block content
    include sections/gallery-hero
    section.gallery
        .container
            .gallery-images__list.fund
                img(src="../images/gallery-images/fund/1.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/2.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/3.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/4.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/5.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/6.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/7.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/8.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/9.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/10.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/11.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/12.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/13.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/14.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/15.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/16.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/17.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/18.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/19.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/20.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/21.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/22.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/23.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/24.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/25.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/26.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/27.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/28.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/29.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/30.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/31.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/32.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/33.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/34.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/35.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/36.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/37.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/38.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/39.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/40.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/41.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/42.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/43.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/44.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/45.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/46.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/47.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/48.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/49.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/50.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/51.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/52.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/53.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/54.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/55.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/56.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/57.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/58.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/59.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/60.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/61.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/62.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/63.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/64.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/65.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/66.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/67.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/68.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/69.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/70.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/71.jpg", alt="").gallery-image
                img(src="../images/gallery-images/fund/72.jpg", alt="").gallery-image

            .gallery-images__list.lamp
                img(src="../images/gallery-images/lamp/1.jpg", alt="").gallery-image
                img(src="../images/gallery-images/lamp/2.jpg", alt="").gallery-image
                img(src="../images/gallery-images/lamp/3.jpg", alt="").gallery-image
                img(src="../images/gallery-images/lamp/4.jpg", alt="").gallery-image
                img(src="../images/gallery-images/lamp/5.jpg", alt="").gallery-image
                img(src="../images/gallery-images/lamp/6.jpg", alt="").gallery-image
                img(src="../images/gallery-images/lamp/7.jpg", alt="").gallery-image
                img(src="../images/gallery-images/lamp/8.jpg", alt="").gallery-image
                img(src="../images/gallery-images/lamp/9.jpg", alt="").gallery-image
                img(src="../images/gallery-images/lamp/10.jpg", alt="").gallery-image

            .gallery-images__list.bronse
                img(src="../images/gallery-images/bronse/1.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/2.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/3.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/4.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/5.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/6.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/7.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/8.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/9.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/10.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/11.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/12.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/13.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/14.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/15.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/16.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/17.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/18.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/19.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/20.jpg", alt="").gallery-image
                img(src="../images/gallery-images/bronse/21.jpg", alt="").gallery-image

            .gallery-images__list.vase
                h1.vase__black Черные вазы
                img(src="../images/gallery-images/vase/black/1.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/2.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/3.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/4.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/5.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/6.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/7.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/8.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/9.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/10.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/11.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/12.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/13.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/14.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/15.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/16.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black/17.jpg", alt="").gallery-image
            .gallery-images__list.vase
                h1.vase__black-gold Черно-золотые вазы
                img(src="../images/gallery-images/vase/black-gold/1.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-gold/2.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-gold/3.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-gold/4.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-gold/5.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-gold/6.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-gold/7.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-gold/8.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-gold/9.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-gold/10.jpg", alt="").gallery-image
            .gallery-images__list.vase
                h1.vase__black-silver Черно-серебристые вазы
                img(src="../images/gallery-images/vase/black-silver/1.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-silver/2.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-silver/3.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-silver/4.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-silver/5.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-silver/6.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-silver/7.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-silver/8.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-silver/9.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/black-silver/10.jpg", alt="").gallery-image
            .gallery-images__list.vase
                h1.vase__bronse Бронзовые вазы
                img(src="../images/gallery-images/vase/bronse/1.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/bronse/2.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/bronse/3.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/bronse/4.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/bronse/5.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/bronse/6.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/bronse/7.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/bronse/8.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/bronse/9.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/bronse/10.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/bronse/11.jpg", alt="").gallery-image
            .gallery-images__list.vase
                h1.vase__dark-granite Вазы из темного гранита
                img(src="../images/gallery-images/vase/dark-granite/1.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/dark-granite/2.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/dark-granite/3.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/dark-granite/4.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/dark-granite/5.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/dark-granite/6.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/dark-granite/7.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/dark-granite/8.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/dark-granite/9.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/dark-granite/10.jpg", alt="").gallery-image
            .gallery-images__list.vase
                h1.vase__marble Мраморные вазы
                img(src="../images/gallery-images/vase/marble/1.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/marble/2.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/marble/3.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/marble/4.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/marble/5.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/marble/6.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/marble/7.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/marble/8.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/marble/9.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/marble/10.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/marble/11.jpg", alt="").gallery-image
            .gallery-images__list.vase
                h1.vase__silver Серебряные вазы
                img(src="../images/gallery-images/vase/silver/1.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/silver/2.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/silver/3.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/silver/4.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/silver/5.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/silver/6.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/silver/7.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/silver/8.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/silver/9.jpg", alt="").gallery-image
                img(src="../images/gallery-images/vase/silver/10.jpg", alt="").gallery-image

    .gallery-modal
        span.gallery-modal__close &times;
        img(alt="").gallery-modal__content#gallery-modal-image
        .gallery-modal__prev
        .gallery-modal__next