extends /includes/layout

include /mixins/image
include /mixins/icon

block content
    include sections/gallery-hero
    section.gallery
        .container
            .gallery-images__list
                img(src="../images/gallery-images/1.jpg", alt="").gallery-image.fund
                img(src="../images/gallery-images/2.jpg", alt="").gallery-image.lamp
                img(src="../images/gallery-images/3.jpg", alt="").gallery-image.fund
                img(src="../images/gallery-images/4.jpg", alt="").gallery-image.lamp
                img(src="../images/gallery-images/5.jpg", alt="").gallery-image.fund
                img(src="../images/gallery-images/6.jpg", alt="").gallery-image.bronse
                img(src="../images/gallery-images/7.jpg", alt="").gallery-image.lamp
                img(src="../images/gallery-images/8.jpg", alt="").gallery-image.fund
                img(src="../images/gallery-images/9.jpg", alt="").gallery-image.bronse
                img(src="../images/gallery-images/10.jpg", alt="").gallery-image.fund
                img(src="../images/gallery-images/11.jpg", alt="").gallery-image.bronse

    .gallery-modal
        span.gallery-modal__close &times;
        img(alt="").gallery-modal__content#gallery-modal-image
        .gallery-modal__prev
        .gallery-modal__next