extends /includes/layout

include /mixins/image
include /mixins/icon

block content
  include sections/main-hero
  include sections/main-categories-preview
  include sections/main-advantages
  include sections/gallery-section