extends /includes/layout

include /mixins/image
include /mixins/icon

block content
    include sections/services-hero
    section.about-us__models
        //.container
        .card.reverse
            .card__image
                img(src="../images/services-3.jpg", alt="")
            .card__information
                .card__header Установка памятников и комплексов
                .card__text В спектр наших услуг также входит установка с последующей гарантией. При установке используется высококлассное оборудование и материалы, а также проверенные и надежные технологии, что позволяет ручаться за свою работу в течение долгих лет. Мы заинтересованы и уверены в качестве своих материалов и предоставляемых услуг, а ориентация на клиента – наш принцип.
    section.about-us__materials
        //.container
        .card
            .card__image
                img(src="../images/services-2.jpg", alt="")
            .card__information
                .card__header Художественное оформление
                .card__text Красивое графическое оформление памятников – естественное желание любого клиента. С помощью наших художников в камне можно реализовать любое изображение - от выгравированных букв, вместо фурнитуры, до фотографий и картин. Все зависит лишь от пожеланий и финансовых возможностей.
    section.about-us__models
        //.container
        .card.reverse
            .card__image
                img(src="../images/services-1.jpg", alt="")
            .card__information
                .card__header Изготовление
                .card__text Если в наличии отсутствует необходимая позиция, мы в кратчайшие сроки изготовим то, что Вам понравилось, начиная с бордюров и плитки, заканчивая надгробиями, плитами и даже целыми комплексами. В налчии всегда есть необработанный камень и оборудование для изготовления из него всего вышеперечисленного.
    section.about-us__map
        //.container
        .card
            .card__image
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa4c6ba0a2b8fb54c74f4ae243ce259cdf78838c245d3cac331ec8f841900adca&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script>                
            .card__information
                .card__header Наши контакты
                .card__text
                    p Адрес магазина:
                    p 
                        i.fas.fa-map-marked-alt   
                        |    г. Гродно, ул. Белуша, д. 4, пав. 9
                    p Контактные телефоны:
                    p 
                        i.fas.fa-phone
                        |    +375 (33) 618-32-03, +375 (33) 623-20-76
                    p.spacer
                    p Адрес магазина:
                    p 
                        i.fas.fa-map-marked-alt   
                        |    Гродно, ул. Поповича, 4 (общежитие торгового колледжа)
                    p Контактный телефон:
                    p 
                        i.fas.fa-phone
                        |    +375 (29) 803-14-26
                    p.spacer

                    p Адрес производства:
                    p 
                        i.fas.fa-map-marked-alt   
                        |    г. Гродно, ул. Аульская, д. 33, (напротив "Тайфуна")
                    p Контактный телефон:
                    p 
                        i.fas.fa-phone
                        |    +375 (152) 68-83-49
                    p.spacer
                    p E-mail:
                    p 
                        i.fas.fa-mail-bulk
                        |    realvotiva@mail.ru