@require 'vendor/normalize.css'
@require 'base/variables'
@require 'base/mixins'
@require 'base/media'
@require 'base/fonts'
@require 'base/typo'
@require 'base/buttons'
@require 'base/grid'
@require 'base/form'
@require 'base/animations'

*,
*::before,
*::after
  box-sizing: border-box

html
  font-size: 62.5%

body
  /* code your own styles here */
  font: 1.4rem/1.5rem Helvetica
  font-family: 'Proxima Nova'

@require 'sections/header'
@require 'sections/main-hero'
@require 'sections/footer'