@require 'vendor/normalize.css'
@require 'base/variables'
@require 'base/mixins'
@require 'base/media'
@require 'base/fonts'
@require 'base/typo'
@require 'base/buttons'
@require 'base/grid'
@require 'base/form'
@require 'base/animations'

*,
*::before,
*::after
  box-sizing: border-box

html
  font-size: 62.5%

body
  /* code your own styles here */
  font: 1.4rem/1.5rem Helvetica
  font-family: 'Proxima Nova'

.container
  max-width: 960px;
  width: 100%;
  margin: 0 auto;

.button
  color: #DCDCDC;
  background: #3348E6;
  padding: 1rem 2rem;

@require 'sections/header'
@require 'sections/main-hero'
@require 'sections/main-categories-preview'
@require 'sections/main-advantages'
@require 'sections/gallery-section'
@require 'sections/footer'